* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

#titleSite {
    background-color: darkred;
    font-family: Roboto, sans-serif;
    color: antiquewhite;
    font-weight: bold;
    width: 3.2vw;
    padding: 0.5rem;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    font-size: 1.5rem;
    margin-left: 3vw;
    padding: 0.5rem;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: antiquewhite;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}